body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc; /* Beige clair (arrière-plan) */
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #e0ffff; /* Bleu très clair (en-tête) */
    color: #333;
    padding: 1em 0;
    text-align: center;
    border-bottom: 2px solid #add8e6; /* Bleu clair (bordure en-tête) */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover,
nav a.active {
    background-color: #add8e6; /* Bleu clair (surbrillance navigation) */
    color: #fff;
}

main {
    padding: 20px;
}

.contenu-principal {
    background-color: #e0ffff; /* Bleu très clair (contenu principal) */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.contenu-principal h2 {
    color: #333;
    border-bottom: 2px solid #add8e6; /* Bleu clair (soulignement titre) */
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.boutons-contenu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.bouton {
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.bouton:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bouton img {
    width: 100%;
    height: auto;
    display: block;
}

.bouton span {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: #e0ffff; /* Bleu très clair (fond bouton) */
}

.contenu-annee {
    background-color: #e0ffff; /* Bleu très clair (contenu année) */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contenu-annee h2 {
    color: #333;
    border-bottom: 2px solid #add8e6; /* Bleu clair (soulignement titre année) */
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #f5f5dc; /* Beige clair (arrière-plan pied de page) */
    color: #333;
    border-top: 2px solid #add8e6; /* Bleu clair (bordure pied de page) */
    position: relative; /* Pour ne pas être fixed si vous avez beaucoup de contenu */
    width: 100%;
}
